<div class="button_wrapper">
    <a class="logo" href="/">WasteBin</a>
    <div class="buttons">
        <% if(locals.canSave) {%> 
            <button class="btn" type="submit">Save</button>
        <% } %> 
        <a href="/new" class="btn"> New</a>
        
    </div>

</div>